<div id="header">
    <div id="logo"><a href="index.html"><img src="/Assets/image/logo.png" title="Things for Cuties" alt="Things for Cuties"></a></div>
    <div id="header_right">
        <form action="index.html" method="post" enctype="multipart/form-data">
            <div id="language">
                <ul class="currence">
                    <li class="first_item"><a class="selected" title="English">en</a></li>
                    <li><a title="Russia">rs</a></li>
                    <li class="last_item"><a title="Deutsch">de</a></li>
                </ul>
            </div>
        </form>
        <form action="index.html" method="post" enctype="multipart/form-data">
            <div id="currency">
                <ul class="currence">
                    <li class="first_item"><a title="Euro">€</a></li>
                    <li><a title="Pound Sterling">£</a></li>
                    <li class="last_item"><a class="selected" title="US Dollar">$</a></li>
                </ul>
            </div>
        </form>
        <div id="search">
            <form method="get" action="/tim-kiem.html">
                <div class="button-search"><input class="button-search" type="submit" id="btnSearch"/></div>
                <input type="text" name="keyword" id="txtKeyword" placeholder="Tìm kiếm" value="">
            </form>
        </div>
        <div id="cart">
            <div class="heading">
                <div class="cart_top_in">
                    <h4>Shopping Cart</h4>
                    <a><span id="cart-total">2 item(s) - $369.00</span></a>
                </div>
            </div>
            <div class="content">
                <div class="mini-cart-info">
                    <table>
                        <tbody>
                            <tr>
                                <td class="/Assets/image"><a href="product.html"><img src="/Assets/image/ex/pro-1.png" alt="" title=""></a></td>
                                <td class="name">
                                    <a href="product.html">Scitote</a>
                                    <div> </div>
                                </td>
                                <td class="quantity">x&nbsp;1</td>
                                <td class="total">$236.99</td>
                                <td class="remove"><img src="/Assets/image/remove-small.png" alt="Remove" title="Remove"></td>
                            </tr>
                            <tr>
                                <td class="/Assets/image"><a href="product.html"><img src="/Assets/image/ex/pro-2.png" alt="" title=""></a></td>
                                <td class="name">
                                    <a href="product.html">Retrorsum</a>
                                    <div> </div>
                                </td>
                                <td class="quantity">x&nbsp;1</td>
                                <td class="total">$60.75</td>
                                <td class="remove"><img src="/Assets/image/remove-small.png" alt="Remove" title="Remove"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mini-cart-total">
                    <table>
                        <tbody>
                            <tr>
                                <td class="right"><b>Sub-Total:</b></td>
                                <td class="right">$249.99</td>
                            </tr>
                            <tr>
                                <td class="right"><b>Eco Tax (-2.00):</b></td>
                                <td class="right">$4.00</td>
                            </tr>
                            <tr>
                                <td class="right"><b>VAT (17.5%):</b></td>
                                <td class="right">$43.75</td>
                            </tr>
                            <tr class="last_item">
                                <td class="right"><b>Total:</b></td>
                                <td class="right">$297.74</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="checkout"><a class="button mr" href="shoppingcart.html">View Cart</a><a class="button" href="checkout.html">Checkout</a></div>
            </div>
        </div>
        <div id="bottom_right">
            <p id="welcome"> Welcome visitor you can <a href="myaccount.html">login</a> or <a href="myaccount.html">create an account</a>. </p>
            <div class="links"><a href="wishlist.html" id="wishlist-total">Wish List (1)</a><a href="myaccount.html">My Account</a><a href="shoppingcart.html">Shopping Cart</a><a href="checkout.html">Checkout</a></div>
        </div>
    </div>
</div>
