@model IEnumerable<CuteShop.Api.Models.ProductCategoryViewModel>
<div id="menu">
    <ul>
        @foreach (var category in Model.Where(x => x.ParentID == null && x.Status == true))
        {
            var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
            var childCategories = Model.Where(x => x.ParentID == category.ID && x.Status == true);
            <li class="menu_item down">
                <a href="@url"  style="text-decoration:none">@category.Name</a>
                <div class="sub_menu" style="">
                    @if (childCategories.Count() > 0)
                    {
                        <div class="bubble"></div>
                        <div class="sub_menu_block" id="sub_menu" style="width:163px">
                            @if (childCategories.Count() > 0)
                            {
                                <ul>
                                    @foreach (var childCategory in childCategories)
                                    {
                                        var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";

                                        <li><a href="@childUrl">@childCategory.Name</a></li>
                                    }

                                </ul>
                            }
                        </div>

                    }
                    </div>
                </li>
        }
    </ul>
</div>
<div id="mobile-menu">
    <div id="mobile-menu-nav">
        <ul>
            <li><a href="category.html">Clothes For Girls</a> </li>
            <li><a href="category.html">Clothes For Boys</a> </li>
            <li><a href="category.html">Toys</a> </li>
            <li><a href="category.html">Safety</a> </li>
            <li><a href="category.html">Furniture</a> </li>
            <li><a href="category.html">Prams</a> </li>
            <li><a href="category.html">At Home</a> </li>
            <li><a href="category.html">Child Seats</a> </li>
        </ul>
    </div>
</div>
