<div id="slide-wrapper">
    <ul id="slider">
        <li>
            <div class="border_on_img"></div>
            <div class="content_slider">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
            <img src="/Assets/image/ex/s1.jpg" alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.">
        </li>
        <li>
            <div class="border_on_img"></div>
            <div class="content_slider">
                <p>sed diam nonummy</p>
            </div>
            <img src="/Assets/image/ex/s2.jpg" alt="sed diam nonummy">
        </li>
        <li>
            <div class="border_on_img"></div>
            <div class="content_slider">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
            <img src="/Assets/image/ex/s3.jpg" alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.">
        </li>
    </ul>
</div>
<div class="banner">
    <div><a href="specials.html"><img src="/Assets/image/small-banner-green-225x161.png" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"></a> </div>
</div>
<div class="banner">
    <div><img src="/Assets/image/small-banner-blue-225x161.png" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"> </div>
</div>
